<!DOCTYPE html><html lang="es"  og: http://ogp.me/ns#>
<head>
  <title>Te Contactámos | Especialistas a tu alcance</title>
  <meta property="og:url" content="https://tecontactamos.com.pe">
  <meta property="og:title" content="Te Contactámos | Especialistas a tu alcance">
  <meta property="og:description" content="Contactate con los mejores especialistas del mercado peruano; 100% garantizado en seguridad y confianza">
  <meta name="description" content="Contactate con los mejores especialistas del mercado peruano; 100% garantizado en seguridad y confianza">
  <meta property="og:site_name" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:image:url" content="">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style-dist.css">
</head>
<body><nav role="navigation" class="navbar-fixed-top menu" >
  <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="/"><img src="/logo.png" alt=""></a>
  </div></div>
<div class="navbar-collapse collapse ">
<ul class="nav navbar-nav pull-right">
<li><a href="/Vistas/Registro1.html"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp; Registrarse</a></li>
<li><a href="/Vistas/login.html"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp; Ingresar</a></li>
<li><a href="#contact" class="text-primary"><span class="text-danger">¿Eres Proveedor?</span></button></a></li>
<li><a href="/Vistas/nosotros.html" class="text-primary"><span class="text-danger">Nosotros</span></button></a></li>
</ul>
</div>
</nav><div id="jumbotron-landing" class="jumbotron">
<div class="container">
<div class="row">
<div class="pull-left">
<img src="images/logjo.png" alt="Logooo">
</div>
<div class="pull-right"><div itemscope itemtype="https://schema.org/FollowAction">
<a class="sociales" href="http://www.gooogle.com" target="_blank" title="Facebook" itemprop="followee"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
<a  class="sociales" href="http://www.gooogle.com" target="_blank" title="Twitter" itemprop="followee"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
<a class="sociales" href="http://www.gooogle.com" target="_blank" title ="YouTube" itemprop="followee"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
</div></div>
</div>
<div class="row text-center">
<div class="col-xs-12">
<h1><strong>SUS TRABAJOS REALIZADOS</strong></h1>
<h3><strong>ENCUENTRA AL PROFESIONAL QUE NECESITAS</strong></h3>
<p><img src="/images/imagen.png" alt=""  style="width:100px;"></p>
</div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 text-center">
<form id="BusquedaLandingForm" method="POST" action ="#">
<div class="input-group">
<input id="input-cta" type="text" class="form-control" placeholder="¿Que proyecto necesitas?" required></input>
<span class="input-group-btn">
<button id="button-cta"class="btn btn-warning" type="button"><i class="fa fa-search" aria-hidden="true"></i>&nbsp; Buscar</button>
</span>
</div>
</form>
<br>
<span id="Error-Mensaje-input-cta" class="lbl-error text-center"></span>
</div>
</div>
</div>
</div>
  <div class="container">
    <div class="row text-center"><div class="col-xs-12">
<h1>¿Por qué estudiar con nosotros?</h1>
</div>
<div class="col-xs-12 col-sm-4">
<i style="color: rgb(191, 20, 20);" class="fa fa-graduation-cap fa-5x"></i>
<h3>Mas de  <strong>1500 Alumnos</strong> confian en nosotros </h3>
<p>Certificación a Nombre de la 
<strong>Universidad Nacional Del Santa</strong> prestigio garantizado.</p>
</div>
<div class="col-xs-12 col-sm-4">
<i style="color: rgb(191, 20, 20);" class="fa fa-users fa-5x" aria-hidden="true"></i>
<h3>Plana de <strong> Docentes </strong>Altamente Calificados</h3>
<p>Agrupamos a todos los <strong>especialistas</strong> con años de experiencia en docencia universitaria.</p>
</div>
<div class="col-xs-12 col-sm-4">
<i  style="color: rgb(191, 20, 20);" class="fa fa-qrcode fa-5x"></i>
<h3>Validacion de <strong>Código QR</strong> en Certificados</h3>
<p>Un Nivel de <strong>seguridad</strong> que permite constatar tus estudios con nosotros y no pueden ser adulterado.</p>
</div>
    </div>
    <div class="row text-center"><div class="col-xs-12 col-sm-4">
<i style="color: rgb(191, 20, 20);" class="fa fa-line-chart fa-5x"></i>
<h3>Sin  <strong>Conocimientos</strong> previos para comenzar</h3>
<p>Te orientamos para que llegues a obtener  el
<strong>nivel deseado</strong> para tu crecimiento profesional.</p>
</div>
<div class="col-xs-12 col-sm-4">
<i style="color: rgb(191, 20, 20);" class="fa fa-money fa-5x" aria-hidden="true"></i>
<h3>No hay <strong>cobros de Matrícula</strong> obligatoria</h3>
<p>Realiza el  <strong>pago</strong> de los cursos que necesitas aprender y estudialo a tu ritmo y en el horario de tu preferencia.</p>
</div>
<div class="col-xs-12 col-sm-4">
<i style="color: rgb(191, 20, 20);" class="fa fa-commenting-o fa-5x"></i>
<h3>Tus <strong>dudas</strong> resueltas en el menor tiempo</h3>
<p>Nuestros <strong>especialistas</strong> de soporte te brindan el apoyo necesario permanentemente.</p>
</div>
    </div>
  </div>
  <div class="container"><h2>Nuestras Principales Ofertas <small><a href="" class="btn-ver-ofertas">ver más...</a></small></h2>
<div id="products" class="row list-group">    
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">titulo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodddddddddddddddddddddddddddddddddddd35123516513451351</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal" href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">c</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal"href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">titulo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodddddddddddddddddddddddddddddddddddd35123516513451351</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal" href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">titulo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodddddddddddddddddddddddddddddddddddd35123516513451351</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal" href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">titulo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodddddddddddddddddddddddddddddddddddd35123516513451351</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal" href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">titulo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodddddddddddddddddddddddddddddddddddd35123516513451351</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal" href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">titulo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodddddddddddddddddddddddddddddddddddd35123516513451351</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal" href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
<article class="item  col-xs-12 col-sm-4 col-lg-3">
<div class="thumbnail oferta">
<a href="/Vistas/ofertadetalle.html"><img class="group list-group-image" src="http://placehold.it/400x250/000/fff" alt="" /></a>
<div class="caption">
<a href="/Vistas/ofertadetalle.html">
<p class="group inner list-group-item-heading titulo-oferta-item text-justify">titulo Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodddddddddddddddddddddddddddddddddddd35123516513451351</p>
</a>
<div class="row">
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Real</label></p>
<p  class="cuenta-usuario-row precio-normal" ><s>S/. 25.00</s></p>
</div>
<div class="col-xs-6 text-center">
<p class="cuenta-usuario-row"><label>Precio Oferta</label></p>
<p  class="cuenta-usuario-row precio-oferta" >S/. 21.00</p>
</div>
<div class="col-xs-12">
<center><a class="btn btn-principal" href="/Vistas/ofertadetalle.html"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp; Ver Oferta</a></center>
</div>
</div>
</div>
</div>
</article>
</div>
  </div></div>
  <div class="container"><hr class="hidden-xs">
<div class="row text-center">
<div class="hidden-xs col-sm-6">
<img src="images/testimonial1.png" alt="David" class="img-circle">
<h3><i class="fa fa-quote-left" aria-hidden="true"></i><em>Recomiendo usar XXXX ya que los especialistas son de primera calidad</em><i class="fa fa-quote-right" aria-hidden="true"></i></h3>
</div>
<div class="hidden-xs col-sm-6">
<img src="images/testimonial2.png" alt="David" class="img-circle">
<h3><i class="fa fa-quote-left" aria-hidden="true"></i><em>Un servicio de calidad, seguro y sin ningún contratiempo</em><i class="fa fa-quote-right" aria-hidden="true"></i></h3>
</div>
</div>
  </div></div><footer class="container-fluid footer">
<div class=" row footer-contenedor text-center">
<p class="footer-parrafo">Copyright © 2017 <strong>|</strong> Todos los Derechos Reservados <strong>|</strong> 955453193</p>
<p><div itemscope itemtype="https://schema.org/FollowAction">
<a class="sociales" href="http://www.gooogle.com" target="_blank" title="Facebook" itemprop="followee"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
<a  class="sociales" href="http://www.gooogle.com" target="_blank" title="Twitter" itemprop="followee"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
<a class="sociales" href="http://www.gooogle.com" target="_blank" title ="YouTube" itemprop="followee"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
</div></p>
</div><!--end layout-widget-wrapper -->
</footer><script type="text/javascript" src="js/materialize.min.js"></script>
</body>